@import './variables/opacity';
@import './variables/sizes';
@import './variables/colors';
@import 'variables/breakpoint';
@import './mixins/keyframes';
@import './mixins/animation';
@import './interactive/layout';
@import './interactive/ui';

/************************************************************* RESET CSS *************************************************************/
/*

colors gradient: #1586EE --- #635DFF;
color primary: #7570FF;
color secondary: #434495;
color highlight: #fff;

avatar: -webkit-filter: saturate(7) blur(2px);

CV list page

linear-gradient(45deg, #ca8131 0%,#2be4b3 100%)

avatar - https://firebasestorage.googleapis.com/v0/b/alexcv-1e348.appspot.com/o/13662259_1006789819418299_2528997284648608633_o.jpg?alt=media&token=d6cece11-6a0a-4d7c-b4e1-7b93f447ba16

*/
/************************************************************* RESET CSS *************************************************************/

html, body, div, span, a, img, ul, li, fieldset, form, label, legend, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    list-style: none;
}

/************************************************************* RESET CSS *************************************************************/
/******************************************************** INTERACTIVE CLASSES ********************************************************/

.i-none {
    display: none !important;
}

.i-hidden {
    visibility: hidden !important;
}

.i-visible {
    visibility: visible !important;
}

.i-overflow-hidden {
    overflow: hidden !important;
}

.i-link {
    color: $color-aquamarine;
    text-decoration: none;
    transition-property: text-decoration, color;
    &:hover {
        color: $color-aquamarine-hover;
        text-decoration: underline;
    }
    &:active {
        color: $color-aquamarine-active;
    }
}

.i-loading {
    &:after, &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        right: 0;
        bottom: 0;
        margin: -30px 0 0 -30px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        opacity: 0.6;
        background-color: rgb(82, 232, 250);
        background-color: rgba(82, 232, 250, 0.7);
        -webkit-animation: bounce 2.0s infinite ease-in-out;
        animation: bounce 2.0s infinite ease-in-out;
    }
    &:after {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
}

@include keyframes(bounce) {
    0%, 100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.i-center {
    text-align: center;
}

.i-edge {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

.i-inline-block {
    display: inline-block;
    vertical-align: middle;
}

.i-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.i-box-sizing {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.i-center {
    text-align: center;
}

.i-table {
    display: table;
    width: 100%;
    &.equal {
        table-layout: fixed;
    }
}

.i-transit-all {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.i-row {
    display: table-row;
}

.i-cell {
    display: table-cell;
}

.i-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-uppercase {
    text-transform: uppercase;
}

.i-font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.i-font-ubuntu-bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

[data-tooltip] {
    position: relative;
    &:after, &:before {
        display: block;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: 9999999;
        top: 50%;
    }
    &:after {
        border-radius: 2px;
        font-size: 12px;
        line-height: 12px;
        content: attr(data-tooltip);
        word-break: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        background: #fff;
        background: rgba(255, 255, 255, 0.9);
        border: 2px solid rgb(82, 232, 250);
        color: #222;
        left: 225px;
        left: -moz-calc(100% + 25px);
        left: -webkit-calc(100% + 25px);
        left: calc(100% + 25px);
        margin-top: -22px;
        padding: 14px 10px;
        min-width: 150px;
        max-width: 300px;
        text-align: center;
    }
    &:before {
        border: solid;
        border-width: 5px 5px 5px 0;
        content: "";
        left: 220px;
        left: -moz-calc(100% + 20px);
        left: -webkit-calc(100% + 20px);
        left: calc(100% + 20px);
        margin-top: -5px;
        width: 0;
        height: 0;
        border-color: transparent rgb(82, 232, 250) transparent transparent;
    }
    &:hover {
        &:after, &:before {
            visibility: visible;
            opacity: 1;
        }
    }
    &:active {
        &:after, &:before {
            visibility: visible;
            opacity: 1;
        }
    }
}

.button {
    &[data-icon]:before, &[data-icon-left]:before, &[data-icon-right]:after {
        font-family: 'cvicon', "Muli", Arial, helvetica, sans-serif;
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        display: inline-block;
        width: 1.5em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &[data-icon]:before {
        text-align: center;
        content: attr(data-icon);
    }
    &[data-icon-left]:before {
        text-align: left;
        content: attr(data-icon-left);
    }
    &[data-icon-right]:after {
        text-align: right;
        content: attr(data-icon-right);
    }
    padding: 0.5rem 0.625rem 0.438rem;
    border-radius: 0.313rem;
    color: #123B4A;
    font-size: 0.75rem;
    /*font-weight: bold;*/
    /*text-shadow: 0 1px rgba(255,255,255,0.7);*/
    /*box-shadow: inset 1px 1px 0 0 rgba(255,255,255,.45), 1px 1px 0 0 rgba(0,0,0,.31);*/
    text-decoration: none;
    word-wrap: normal;
    word-break: break-word;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    border-width: 0;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:focus, &:active {
        outline: none;
    }
    &.blue {
        background-color: rgb(49, 159, 202);
        &:hover {
            background-color: rgb(62, 172, 215);
        }
        &:active {
            background-color: rgb(36, 146, 189);
        }
    }
    &.bronze {
        background-color: #CA8131;
        /*color: #ddd;*/
        /*text-shadow: 0 1px rgba(0,0,0,0.7);*/
        &:hover {
            background-color: #D78E3E;
        }
        &:active {
            background-color: #BD7424;
        }
    }
    &.scarlet {
        background-color: #D34864;
        /*color: #ddd;*/
        /*text-shadow: 0 1px rgba(0,0,0,0.7);*/
        &:hover {
            background-color: #E05571;
        }
        &:active {
            background-color: #C63B57;
        }
    }
    &.scarlet-mono {
        background-color: #A0374C;
        color: #ddd;
        text-shadow: none;
        &:hover {
            background-color: #A33a4e;
        }
        &:active {
            background-color: #973440;
        }
    }
}

/******************************************************** INTERACTIVE CLASSES ********************************************************/

html, body {
    width: 100%;
    min-height: 100vh;
}

html {
    z-index: 0;
}

body {
    background: $color-white none scroll repeat 0 0;
    font-family: "Muli", Arial, sans-serif;
    color: $color-text-gray;
    overflow-x: hidden;
}

.cv-landing {
    position: relative;
    transition-property: background-color;
    background: #1586ee;
    background: -moz-linear-gradient(45deg, #1586ee 0%, #635dff 100%);
    background: -webkit-linear-gradient(45deg, #1586ee 0%, #635dff 100%);
    background: linear-gradient(45deg, #1687EF 0%, #635dff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1586ee', endColorstr='#635dff', GradientType=1);
    &.back-in-black {
        background: $color-black;
    }
}

.cv {
    &-landing {
        &-back-in-black-button {
            position: fixed;
            left: 0;
            top: 0;
            opacity: 0.5;
            //transform: translate(-50%,-50%) rotate(-45deg);
            //width: 155px;
            //height: 155px;
            //padding-top: 100px;
            //font-size: 0.5em;
        }
    }
    &-info {
        @media #{$medium-only} {
            header {
                text-align: center;
            }
            h1 {
                display: block;
                margin-left: 0;
                text-transform: uppercase;
            }
        }
        &-print {
            position: fixed;
            right: 0;
            top: 0;
            z-index: 1;
            @media #{$medium-up} {
                position: absolute;
                right: 0;
                top: calc(50% + #{$oneAndAHalfSmallSpacing});
                transform: translate(0%, -50%);
            }
        }
        &-background {
            background-image: linear-gradient(45deg, #ca8131 0%, #2be4b3 100%);
            //background-attachment: fixed;
        }
        &-sections {
            position: relative;
            min-height: calc(100vh - #{$cv-info-avatar-height + $mediumSpacing * 3});
            article {
                padding: $smallSpacing $twiceSmallSpacing;
                &:nth-child(even) {
                    background: rgba($color-gray, $opacity-15);
                }
            }
            &-description {
                &:not(:only-child) {
                    border-bottom: 1px solid rgba($color-gray, $opacity-50);
                    padding: $fourthSmallSpacing 0;
                }
                @media #{$medium-only} {
                    &:last-child {
                        border-bottom: none;
                    }
                }
                &-text {
                    word-break: break-word;
                    &:before {
                        content: ' - ';
                        display: inline;
                    }
                }
            }
        }
        &__body {
            @media #{$medium-only} {
                padding-top: 0;
            }
        }
    }
}

.cv-landing {
    position: relative;
    text-align: center;
    perspective: 900px;
    font-family: Audiowide, sans-serif;
    .cv-logo {
        margin: 0;
        font-size: 0;
    }
    .avatar {
        border-radius: 50%;
        font-size: 0;
        overflow: hidden;
        visibility: hidden;
        transition-property: margin;
        + br {
            display: none;
        }
    }
    .button-holder {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        width: 200px;
        font-size: 0;
        .button {
            &:not(:first-child) {
                margin-top: 5px;
            }
            width: 100%;
        }
    }
    .avatar > img {
        width: 150px;
        height: 150px;
    }
    .cv-logo {
        width: 220px;
        height: 220px;
        box-sizing: border-box;
        border-radius: 50%;
        background-color: #7570FF;
        box-shadow: 0px 0px 30px 5px #5762FC;
        text-align: center;
        cursor: pointer;
        transform-style: preserve-3d;
    }
    .cv-logo_shadowed {
        width: 220px;
        height: 220px;
        box-sizing: border-box;
        border-radius: 50%;
        background-color: #64C084;
        transform-style: preserve-3d;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -5%) scale(0.5);
        z-index: -1;
        opacity: 0;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 1) inset;
        transition: all 0.75s ease-out;
        transition-property: opacity, transform;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
        > span {
            color: $color-white;
            font-size: 18px;
            font-weight: bold;
            font-family: Muli, sans-serif;
            text-transform: uppercase;
            padding-left: 0;
            -webkit-filter: blur(3px);
            transition-property: padding-left;
            transition-delay: 0.75s;
            transition-duration: 2.25s; // it's 75% of main animation when screen slided back only 75% of time left to perform transition
        }
    }

    @media #{$medium-up} {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media #{$large-up} {
        display: block;
        padding: 70px 15px 75px;
    }
}

#cv-transition-group {
    position: relative;
    z-index: 0;
    display: flex;
    flex: 1 0 auto;
}

.cv-landing {
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
    &.js-move-away {
        transform: scale(0.95) translateX(-#{$moveAwayDestination});
        @include animation('pageMoveAway 3s ease-in-out infinite');

        &,
        .cv-logo {
            @include animation-iteration-count('1 !important');
        }

        .cv-logo {
            position: relative;
            z-index: 1;
            box-shadow: 0 0 0 0 #fff;
            transform: scale(1.25) translateX(#{$moveAwayDestinationLogo}) translateY(0) rotateZ(360deg);
            @include animation('moveAway 3s ease-in-out infinite');
        }

        .cv-logo_shadowed {
            opacity: 1;
            transform: translate(-50%, 0) scale(0.75);
            > span {
                padding-left: 200vw; // 100vw * 2 - because scale(0.5) of the parent to go behind the shadowed circle for portrait mode
                @media #{$medium-up} {
                    padding-left: 75vw;
                }
            }
        }
    }
    &:not(.js-move-away) {
        .cv-logo {
            transform: scale(1) rotateX(30deg);
            @include animation('pulse 3s ease-in-out infinite');
            &:hover {
                &,
                + .name {
                    @include animation-play-state('paused');
                }
            }
        }
    }
}

table {
    table-layout: fixed;
}

#cv-info {
    position: relative;
    z-index: 0;
    width: 100vw;
    color: $color-white;
    box-sizing: border-box;
    &.js-move-in {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        transform: scale(1);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include animation('mainMoveIn 3s ease-in-out infinite');
        @include animation-iteration-count('1 !important');
    }
}

body {
    display: flex;
    main {
        position: relative;
        flex: 1 0 auto;
        display: flex;
    }
}

.cv-landing .cv-logo:hover {
    box-shadow: 0px 0px 30px 30px #5c57ff;
    /* 5% darken scss*/
}

.cv-avatar {
    border-radius: 50%;
    -webkit-filter: saturate(7) blur(2px);
}

.cv-landing {
    .cv-logo {
        &:active {
            box-shadow: 0px 0px 30px 30px #fff;
        }
        &:hover + .name {
            -webkit-animation-play-state: paused;
            /* Chrome, Safari, Opera */
            animation-play-state: paused;
        }
    }
    .cv-logo.beforeload {
        /*margin-left: -63px;  2*pi*r / 12 (30deg) */
        -webkit-transform: rotateX(-30deg);
        -ms-transform: rotateX(-30deg);
        transform: rotateX(-30deg);
    }
    .text {
        font-weight: bold;
        font-size: 80px;
        line-height: 80px;
        padding-top: 8px;
        color: #fff;
        margin: 0;
        transform: rotateZ(0deg);
        user-select: none;
    }
    .text, .name {
        position: relative;
    }
    .name {
        display: block;
        margin-top: 15px;
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        padding-right: 0;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-animation: fade 3s ease-in-out infinite;
        animation: fade 3s ease-in-out infinite;
    }
}

@include keyframes(pulse) {
    0% {
        transform: scale(0.8) rotateX(-30deg) translateY(0);
        opacity: 0.5;
        -webkit-filter: blur(1px);
    }

    50% {
        transform: scale(1) rotateX(30deg) translateY(-3vh);
        opacity: 1;
        -webkit-filter: blur(0);
    }

    100% {
        transform: scale(0.8) rotateX(-30deg) translateY(0);
        opacity: 0.5;
        -webkit-filter: blur(1px);
    }
}

@include keyframes(fade) {
    0% {
        opacity: 0.5;
        -webkit-filter: blur(1px);
        transform: translateY(-1vh);
    }

    50% {
        opacity: 1;
        -webkit-filter: blur(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0.5;
        -webkit-filter: blur(1px);
        transform: translateY(-1vh);
    }
}

@include keyframes(moveAway) {
    0% {
        transform: scale(0.9) translateX(0) translateY(-1.5vh) rotateZ(0deg);
        box-shadow: 0px 0px 30px 30px #fff;
    }

    25% {
        transform: scale(1.25) translateX(0) translateY(-1.5vh) rotateZ(0deg);
        box-shadow: 0px 0px 30px 30px #fff;
    }

    100% {
        transform: scale(1.25) translateX(#{$moveAwayDestinationLogo}) translateY(0) rotateZ(360deg);
        box-shadow: 0px 0px 0px 0px #fff;
    }
}

@include keyframes(pageMoveAway) {
    0% {
        transform: scale(1) translateX(0);
    }

    25% {
        transform: scale(0.95) translateX(0);
    }

    100% {
        transform: scale(0.95) translateX(-#{$moveAwayDestination});
    }
}

@include keyframes(mainMoveIn) {
    0% {
        transform: scale(0.9);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

/*#cv-landing .cv-logo.beforeload + .name {*/
/*padding-right: 63px;*/
/*}*/

/*#cv-landing .cv-logo.afterload + .name {*/
/*padding-left: 63px;*/
/*}*/

#error-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 35px;
    background-color: #fff;
    color: rgb(255, 55, 55);
    font-size: 18px;
    padding: 5px 0;
    border-radius: 0 0 10px 10px;
    z-index: 999;
}

#content {
    min-height: 200px;
    position: relative;
    &.i-loading {
        background-color: #aaa;
        text-align: center;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 198px;
        bottom: 0;
        > {
            .loading-text, .i-progress-bar {
                display: block;
            }
        }
    }
    > {
        .loading-text, .i-progress-bar {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
    > {
        .loading-text {
            margin: 30px 0 0 -30px;
        }
        .i-progress-bar {
            text-align: left;
            width: 50%;
            margin: 65px 0 0 -25%;
        }
    }
}

/*********************************************************** MEDIA PRINT *************************************************************/

@media print {
    .cv {
        &-landing {
            background-color: transparent;
            .button-holder {
                display: none;
            }
            .avatar > img {
                width: 100px;
                height: 100px;
            }
            .text, .name {
                font-size: 16px;
                line-height: 16px;
                margin: 0;
            }
        }
        &-info {
            &-print {
                display: none;
            }
            &-background {
                background-image: none;
            }
            &-sections {
                &-description {
                    border-bottom: 1px solid rgba(224, 224, 224, 0.5);
                    padding: 5px 0;
                }
                article {
                    padding: 5px;
                    color: black;
                    font-size: .9rem;
                    border-bottom: 1px solid black;
                    > div {
                        > div {
                            &:first-child {
                                font-weight: bold;
                                color: #555;
                                &:after {
                                    content: ":";
                                }
                            }
                        }
                    }
                }
            }
            header {
                padding-top: 0;
                h1 {
                    display: block;
                    text-align: center;
                    &:before {
                        content: 'CV - ';
                    }
                    .i-hide-medium {
                        display: none;
                    }
                }
            }
        }
        &-avatar {
            display: none;
        }
    }
    .i-pad_block_vertical {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/*********************************************************** MEDIA PRINT *************************************************************/
@media screen and (max-width: 30em) {
    .cv-landing {
        padding: .938rem * 2.25 .938rem .938rem;
        .cv-logo {
            width: 9.375rem;
            height: 9.375rem;
            border-width: .938rem;
        }
        .name {
            font-size: 1.313rem;
            line-height: 1.313rem;
        }
        .text {
            font-size: 3rem;
            line-height: 3rem;
            padding-top: .313rem;
        }
    }
}

/********************************************************** MEDIA QUERIES ************************************************************/
