<main id="cv-root">
  <section id="cv-landing">
    <div class="cv-logo i-inline-block i-transit-all beforeload">
      <div class="i-edge"></div>
      <h1 class="text i-inline-block">CV</h1>
    </div>
    <h3 class="name i-transit-all i-inline-block">Alex Kobylinski</h3>
  </section>
  <section id="cv-info">
    <header></header>
    <section id="cv-info__body"></section>
    <footer></footer>
  </section>
</main>
