<style>
    body {
        overflow: auto;
    }
    section {
        display: flex;
        flex-direction: row;
    }
    article {
        flex: 1 1 auto;
    }
    article:first-child > div,
    article > div:first-child {
        background-color: rgb(207, 226, 243);
        font-size: 19px;
        font-weight:bold;
        color: #0b5394;
    }
    article > div {
        font-size: 15px;
        color: #000;
        background-color: rgb(255, 138, 128);
    }
</style>
<main id="playground">
    <input id="file" type="file" accept=".csv,.tsv">
    <div id="fileDisplayArea"></div>
    <script>
        window.onload = function() {
            var fileInput = document.getElementById('file');
            var fileDisplayArea = document.getElementById('fileDisplayArea');

            fileInput.addEventListener('change', function(e) {
                var file = fileInput.files[0];
                var tsvType = /text.*(?=tab).*/;
                var csvType = /text.*(?=csv).*/;
                var priceMatcher = /^([^-]+)(?=\s-\s)(.*)$/g;
                var valuePriceMatcher = /[\d\.\,]+/g;
                var multiCurrencyMatcher = /(.+)(?=(\(|\s))/g;
                var dollarSign = '$';
                var euroSign = '\u20AC';
                var plusSign = '+';



                // SUM
                // "37 +55+42+33+19".split('+').reduce(function(sum, current){ return sum += +current.trim();}, 0)


                //MATCH price
                // /^([^\s-]+)(?=\s-\s)(.*)$/g.exec('$250.37 - dsfg')[1]


                // Match currency indexOf(euroSign)

                //Match multicurrency
                // /(.+)(?=(\(|\s))/g.exec(/^([^-]+)(?=\s-\s)(.*)$/g.exec('€1197.39432 (1309.20) - курс привата 0.9146, Нике билеты на 19-29 одесса-сан-франциско')[1])[1].trim()

                if (file.type.match(tsvType) || file.type.match(csvType)) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        fileDisplayArea.innerHTML = "";

                        var section = document.createElement('section');
                        var filledColumns = processData(reader.result);

                        var sectionData = '';

                        console.log(window.fc = filledColumns);

                        filledColumns.forEach(function(column, columnIndex){
                            sectionData += '<article>';
                            column.forEach(function(cell, cellIndex){
                                sectionData += '<div>' + cell + '</div>';
                            });
                            sectionData += '</article>';
                        });

                        section.innerHTML = sectionData;

                        function processData(csv) {
                            var allTextLines = csv.split(/\r\n|\n/);

                            var lines = [];
                            for (var i=0; i<allTextLines.length; i++) {
                                var data = allTextLines[i].split(/\t/);
                                var tarr = [];
                                for (var j=0; j<data.length; j++) {
                                    tarr.push(data[j]);
                                }
                                lines.push(tarr);
                            }

                            return transpose(lines);
                        }



                        function transpose(a) {
                            for (var columns = []; columns.length < a[0].length; columns.push([]));

                            columns.forEach(function(column){
                                for (column = []; column.length < a.length; column.push([]));
                            });

                            a.forEach(function(line, lineIndex){
                                line.forEach(function(cell, cellIndex){
                                    columns[cellIndex][lineIndex] = cell;
                                });
                            });

                            return columns;
                        }

                        fileDisplayArea.appendChild(section);
                    }

                    reader.readAsText(file);
                } else {
                    fileDisplayArea.innerHTML = "File not supported!";
                }
            });
        }
    </script>
</main>
