<style>
    body {
        display: flex;
        background: #fff none scroll repeat 0 0;
        font-family: "Muli", Arial, sans-serif;
        color: #555;
        overflow-x: hidden;
        height: 100vh;
        min-height: 500px;
        margin: 0;
        padding: 0;
    }
    main,
    #timesheet-canvas {
        position: relative;
        flex: 1 0 auto;
        display: flex;
    }
    main {
        padding: 30px 40px;
    }
</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<main id="timesheet">
    <div id="timesheet-canvas"></div>
</main>

<script type="text/javascript">
    google.charts.load("current", {packages:["timeline"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var container = document.getElementById('timesheet-canvas');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Term' });
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });

        dataTable.addRows([
            [ 'Лактоф', 'сначала азаза', new Date(2017, 8, 4), new Date(2017, 8, 30) ],
            [ '2', 'John Adams',        new Date(2017, 2, 4),  new Date(2017, 2, 20) ],
            [ '3', 'Thomas Jefferson',  new Date(2017, 2, 4),  new Date(2017, 2, 30) ]]);

        chart.draw(dataTable);
    }
</script>


